* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

body {
    height: 100vh;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
}

.hidden {
    display: none;
}

.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#boxImg {
    flex-direction: column;
}

#boxImg img {
    width: 100px;
    height: 100px;
}

#boxImg p {

    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}

#main {
    flex-direction: column;
    gap: 20px;
    padding: 5px;
}

.box-piada {
    max-width: 700px;
    padding: 30px 40px;
    margin: 0 auto;

}

#piada {
    margin-bottom: 25px;
    font-size: 22px;
}

#categoria,
#ofensiva {
    font-size: 12px;
    text-align: end;
}

#atualizar button {
    border: none;
    cursor: pointer;
}


